@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Poppins&display=swap');

/*
    font-family: 'Goldman', cursive;
    font-family: 'Poppins', sans-serif;
*/

:root{
    --font-main: 'Poppins', sans-serif;
    --font-title: 'Goldman', cursive;

    --font-size-main:1em;
    --font-size-title:1.5em;
}